.fill {
  width:18.6%;
  margin: 0.5%;
  font-family: inherit;
}
.fill {
  font-size: 15px;
  font-weight: 200;
  padding: 5px 5px 5px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill::after {
  content: "";
  background-color: rgba(239,203,203, 0.3);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}